@model NoNameHotel.Models.Room

@{
    ViewData["Title"] = "Details";
}
<div class="content">
    <h2>Details for room</h2>

    <div>
        <h4>Room</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NumRoom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumRoom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumberOfAdults)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumberOfChildren)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>